body {
    overflow-y: scroll;

    background-color: black;
    color: lightgray;
}

#upgrade_search_bar {
    width: 100%;
}

.cart_button {
    display: flex;

    justify-content: right;
}

.upgrade_icon {
    text-align: center;
}

#upgrade_list img.upgrade_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-height: 40px;
}

.item_image {
    text-align: center;
}

img.item_image {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-height: 50px;
}

.item_filter {
    cursor: pointer;
    user-select: none;
}

.item_category_header {
    text-align: right;
}

.item_category {
    text-align: right;
}

.item_amt_header {
    text-align: right;
}

.item_amt {
    text-align: right;
    cursor: pointer;
}

.completed_item {
    background-color: rgb(10, 10, 10);
}

#shopping_list .upgrade_icon {
    max-width: 40px;
    max-height: 40px;
}

.item_amt:hover {
    background-color: rgb(30, 30, 30);
}

.item_amt .modifier {
    cursor: pointer;

    user-select: none;
}