body {
    overflow-y: scroll;
}

#upgrade_search_bar {
    width: 100%;
}

.cart_button {
    display: flex;

    justify-content: right;
}

.item_catagory {
    text-align: left;
}

.item_amt_header {
    text-align: right;
}

.item_amt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item_amt .modifier {
    cursor: pointer;

    user-select: none;
    /* Standard syntax */
}